<section class="contact">
    <div class="contact-info">
      <div class="first-info">
        <img src="/logo2.png" alt="" width="70px" height="auto" />
        <p>Gachibowli, UOH<br />Hyderabad 500046</p>
        <p>+91-8234872674</p>
        <p>f2cfarmers@gmail.com</p>
        <div class="social-icon">
          <a href="#"><i class="bx bxl-facebook"></i></a>
          <a href="#"><i class="bx bxl-instagram"></i></a>
          <a href="#"><i class="bx bxl-twitter"></i></a>
          <a href="#"><i class="bx bxl-linkedin"></i></a>
        </div>
      </div>
      <div class="second-info">
        <h4>Support</h4>
        <p>Contact Us</p>
        <p>About</p>
        <p>Guide</p>
        <p>Quality Issue</p>
        <p>Terms & Conditions</p>
      </div>
      <div class="third-menu">
        <h4>Shop</h4>
        <p>Vegetabless Shopping</p>
        <p>Other Shopping</p>
        <p>Insecticides Shopping</p>
        <p>Farming Products</p>
        <p>Details</p>
      </div>
      <div class="fourth-menu">
        <h4>Company</h4>
        <p>About</p>
        <p>News</p>
        <p>Shop</p>
        <p>Login</p>
      </div>
      <div class="fifth-menu">
        <h4>Subscribe</h4>
        <p>
          Practice mulching to retain soil moisture and reduce weeds.
        </p>
        <p>
          Use disease-resistant seed varieties for higher productivity.
        </p>
        <p>
          Test soil pH regularly for optimal crop growth.
        </p>
        <p>
          Sow seeds of hard work today to harvest a fruitful tomorrow.
        </p>
      </div>
    </div>
  </section>